/* cyrillic */
@font-face {
  font-family: 'Ruslan Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ruslan Display'), local('RuslanDisplay'), url(../fonts/Ruslan_cy.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Ruslan Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ruslan Display'), local('RuslanDisplay'), url(../fonts/Ruslan_la_ex.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ruslan Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ruslan Display'), local('RuslanDisplay'), url(../fonts/Ruslan_la.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto_la.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto_la_bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Spectral Regular'), local('Spectral-Regular'), url(../fonts/Spectral_la.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	background-color: #F6F2F2;
}

a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Ruslan Display', cursive;
}

p {
	font-family: 'Spectral', serif;
}

.main {
	max-width: 1249px;
	padding-top: 31px;
	margin: 0 auto;	
}

.menu-wrapper {
	background-color: #000;
	height: 89px;
	margin-bottom: 88px; /*571 - 372 - 111*/
	display: block;
	text-align: center;
}

.menu {
	margin: 0 auto;
	text-align: center;
}

.active, .menu a:hover {
	background-color: #FF3F40;
}

.menu a {
	color: #E0E0E0;
	display: inline-block;
	height: 89px;
	text-transform: uppercase;
	line-height: 89px; 
	padding: 0px 25px; 
}

.first-floor  {
	position: relative;
}

.first-floor p {
	line-height: 28px;
}

.first-floor h1 {
	font-size: 60px;
	line-height: 72px;
	font-weight: bold;
	text-transform: uppercase;
}

.txt, .pict {
	position: absolute;
	width: 50%;
}

.pict {
	right: 0px;
	text-align: right;
}

.txt {
	left: 0px;
}

.button {
	background-color: #FF2D2D;
	width: 230px;
	height: 58px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: rgb(255,255,255);
	display: block;
	line-height: 58px;
}

