h2 {
    margin: 0;
}

.gallery {
	box-shadow: 5px 5px 10px grey;
    padding: 20px;
    margin-bottom: 20px;
	min-height: 300px;
	display: flex;
    align-items: center; 
}

.gallery  > img:nth-of-type(-n+3) { 
    align-self: flex-start; 
}

.gallery  > img:nth-of-type(n+7) { 
    align-self: flex-end; 
}
/*
.gallery:nth-of-type(even) {
    flex-direction: row;
}
*/
.gallery > img {
    width: 100px;
}
